
header {
    display: flex;
    flex-direction: column;
    background: #b0d8b6;
   background-color: #1F3D51;
    padding: 10px;
    color: white;
  }
  header h1 {
      font-weight: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  header h3 {
    color: gray;
    margin: 0;
    align-self: flex-end; /
  }
  h1 {
    margin: 0;
  }
  
  h3 {
    margin: 0;
    align-self: flex-end; 
    
  }


nav {
  margin-top: 0px; 
  
  align-self: flex-end; 
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  color: white;
}

nav li {
  margin-right: 15px;
  cursor: pointer;
  color: white;
}
header a{
    color:white;
    text-decoration-line: none;
  }
  footer a {
    color:white;
    text-decoration-line: none;
  }

footer {
    display: flex;
    flex-direction: column;
    background: #b0d8b6; 
    
   background-color: #1F3D51;
    padding: 10px;
    color: white;
  }
  main {
    width: 900px;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
  }
  

nav {
  margin-top: 0px;
  align-self: flex-end;
}
nav li {
  margin-right: 15px;
  cursor: pointer;
  color: white;
}
a{
      color:white;
  }
  .venu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    background: linear-gradient(to right , #b0d8b6 40%, #e5eacc 90%);
    color: white;
    text-align: center;
    height: 10pc;
  }
  .venu-header div{
    max-width: 800px; 
    
    padding: 5px;
    color:rgb(150, 184, 150);
    height: auto;
  }
  .venu-header p {
    margin-top: 2px;
    padding: 5px;
    color: gray;
  }
  .venu-header h1 {
    margin: 0;
    font-size: xx-large;
    padding: 5px;
    font-weight: 100;
}
.div{
    padding: 60px;
    margin-right: 20px;
    flex: 1;
    margin-right: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
  }
.info-adress, .info-contact {
    font-size: 14px;
  }
  .info-contact a {
    color: rgb(103, 125, 103);
  }
  .info p{
    color: gray;
}
.map{
    padding: 10px;
    display: flex;
    flex-direction:column;
    border: none;
    flex: 1;
    margin-right: 40px;
    margin-left: 200px;
    width: 10px;
    height: 400px;
    margin-bottom: 10pc;
  }
.collegelacite, .info-contact{
    color: rgb(103, 125, 103);
    font-weight: 100;
  }

footer {
    display: flex;
    flex-direction: column;
    background: #b0d8b6;
    background-color: #1F3D51;
    padding: 10px;
    color: white;
}
.footer-text {
    font-size: 12px;
    
}

.footer-nav .nav-list {
  justify-content: center;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
}
