*, ::before, ::after {
    transition: all .2s;
}
header{
    display: flex;
    flex-direction: column;
    background: #b0d8b6; /* Cor de fundo inicial */
   background-color: #1F3D51;
    padding: 10px;
    color: white;
}
h1.coco{
   text-align: center; 
}
p{
    text-align: center;
}
head.riri {
    display: flex;
    flex-direction: column;
    background: #b0d8b6;
    padding: 10px;
    color: white;
  }
  .po{
    display: block;
    text-align: center;
  }
  footer a {
    color:white;
    text-decoration-line: none;
  }

footer {
    display: flex;
    flex-direction: column;
    background: #b0d8b6; /* Cor de fundo inicial */
   background-color: #1F3D51;
    padding: 10px;
    color: white;
  }


  
  
  
  main {
    width: 900px;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  


  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: Arial,Â sans-serif;
  }


  header {
    display: flex;
    flex-direction: column;
    background: #b0d8b6;
   background-color: #1F3D51;
    padding: 10px;
    color: white;
  }


  header h1 {
    margin: 0;
    font-size: x-large;
    padding: 5px;
    font-weight: 100;
  }
  header h3 {
    color: gray;
    margin: 0;
    align-self: flex-end; 
  }
  h1 {
    margin: 0;
  }
  
  .section2 {
    background-color: #fff;
    padding: 10px;
    font-size: 80%;
    box-shadow: 0 0px 0px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between; 
}

.section2 div{
    flex: 1;
    display: flex;
    font-size: medium;
    padding: 35px;
}

.questionnaire{
    display: flex;
    flex-direction: column;
    margin-bottom:0%;
    border: none;
    padding-left: 2px;
}
  
  input[type="text"],
  input[type="email"],
  select,
  textarea { 
    width: 100%;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40px;
  }
  
.place{
    width: 40px;
}
  input[type="submit"] {
    display:flex;
    color: white;
    padding: 10px 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background-color: black; 
    transform: all .2s;
  
  }
  .section1 {
    margin: 0;
    font-size: x-large;
    padding: 5px;
    font-weight: 100;
  }
  

  h2, h4, .Nom, .courriel, .place, .commentaire{
    color: rgb(103, 125, 103);
    font-size: larger;
    font-weight: 100;
  }
  footer {
    display: flex;
    flex-direction: column;
    background: #b0d8b6; 
   background-color: #1F3D51;
    padding: 30px;
    color: white;
  }
  
  .footer-text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .footer-nav .nav-list {
    justify-content: center;
  }
  
  .section1 h1 {
    margin: 0;
    font-size: x-large;
    padding: 5px;
    font-weight: 100;}

  .section1 p {
    margin-top: 1px;
    padding: 5px;
    color: gray;
    font-size: large;
  }
  .section2 ul{
    padding-top: 1px;
    color:gray ;
    padding-bottom: 10pc;
  }
  li{
    margin-left: 2px;
    padding: 2px;
  }
  .hihi:hover{
    
    background-color: green; 
    color: black;
  }
  